<div class="cruGallery">
  <div class="mainimageshell">
      <div class="viewwindow">
          <ul class="fullsizelist">
              <li ng-repeat="image in listing.photos[0].photo track by $index" ng-class="{active: isSelected($index)}">
                <span class="arrow aleft" ng-click="advanceLeft($index, $first)"><i class="fa fa-angle-left"></i></span>
                  <img class="large" ng-src="/api/images?url={{image.mediaurl[0]}}" />
                <span class="arrow aright" ng-click="advanceRight($index, $last)"><i class="fa fa-angle-right"></i></span>
                  <!-- DEV ONLY img class="large" ng-src="{{image.storedId}}" /-->
              </li>
          </ul>
      </div>
  </div>

  <ul class="thumbswrapper">
      <li ng-repeat="thumb in listing.photos[0].photo track by $index" >
          <div class="thumbwrapper" >
              <a ng-href="" ng-click="selectImage($index)">
                  <img class="thumb" ng-src="/api/images?url={{thumb.mediaurl[0]}}" ng-class="{active: isSelected($index)}"/>
                  <!--DEV ONLY img class="thumbnail" ng-src="{{image.storedId}}" /-->
              </a>
          </div>
      </li>
  </ul>
</div>