<table class="table table-hover" ng-if="schools.length">
  <thead>
    <tr>
      <th>Rank</th>
      <th>School</th>
      <th>Location</th>
      <th>Score</th>
      <th ng-if="map"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="school in schools | orderBy:'score.school' | limitTo: 5">
      <td>{{$index + 1}}</td>
      <td><a ng-href="/school/{{school._id}}">{{school.sch_name | titleCase}}</a</td>
      <td>{{school.address.street}} {{school.address.city}}, {{school.address.state}} {{school.address.zip}}</td>
      <td class="tableScore">{{school.score.overall}}</td>
      <td ng-if="map">
        <button class="btn btn-sm btn-primary" ng-click="activateSchool(school)" ng-if="!selected">Select</button>
        <button class="btn btn-sm btn-danger" ng-click="deactivateSchool(school)" ng-if="selected">Unselect</button>
      </td>
    </tr>
  </tbody>
</table>
<div ng-if="!schools.length">No Schools Found</div>