<div class="navbar navbar-static-top" ng-controller="NavbarCtrl">
  <div class="col-xs-3">
    <a href="/"><div class="cruvitaLogo"></div></a>
  </div>

  <form class="col-xs-5 headerSearch" ng-submit="updateBounds()">
    {{currentPath}}
    <input ng-hide="currentPath === '/'" type="text" ng-model="locationSelected" placeholder="Search for your new home" typeahead-wait-ms="300" typeahead-on-select="updateBounds()" typeahead="address for address in getLocation($viewValue)" class="form-control">
  </form>

  <span class="navbarHello" ng-show="isLoggedIn()"><a href="/settings">Hello {{ getCurrentUser().name }} <span ng-class="{active: isActive('/settings')}"><span class="fa fa-gear"></span></a></span></span>

  <div class="col-xs-2 dropdown smallHeaderMenu pull-right">
    <a ng-href class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"><i class="fa fa-bars"></i></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
        <a ng-href="{{item.link}}">{{item.title}}</a>
      </li>
      <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Login</a></li>
      <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
      <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Console</a></li>
    </ul>
  </div>

  <ul class="headerMenu">
    <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
      <a ng-href="{{item.link}}">{{item.title}}</a>
    </li>
    <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
    <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
    <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Console</a></li>
  </ul>
</div>

