<header class="hero-unit" id="banner">
  <div class="">
    <!-- <p class="lead">Search for your new home</p> -->
    <form ng-submit="updateBounds()">
      <div class="row">
        <div class="col-lg-6">
          <input type="text" ng-model="locationSelected" placeholder="Search for your new home" typeahead="address for address in getLocation($viewValue)" class="form-control">
        </div>
        <div class="col-lg-3">
          <select ng-model="incomeLimit" ng-options="income.label for income in incomes" class="filter-select">
            <option value="">Home Price Range</option>
          </select>
        </div>
        <div class="col-lg-3">
          <select ng-model="gradeLevel" class="filter-select">
            <option value="">All Grade Levels</option>
            <option value="Elementary">Elementary</option>
            <option value="Middle">Middle</option>
            <option value="High">High</option>
          </select>
        </div>
  </div>
    </form>
  </div>
</header>

<div class="">
  <div class="row">
    <div class="col-lg-8">
      <google-map center="map.center" zoom="map.zoom" bounds="map.bounds" draggable="true">
      <polylines models="map.polylines" path="'path'" stroke="'stroke'"
                  geodesic="'geodesic'" draggable="'draggable'"></polylines>
        <marker ng-repeat="marker in map.markers" coords="marker.coordinates" idKey="marker._id'" click="marker.onClicked">
          <window show="showWindow" closeClick="closeClick" ng-cloak>
            <div>
                <h4 class="media-heading truncate lead"><a ng-href="/school/{{marker.school.id}}" title="{{marker.school.name}}">{{marker.school.name}}</a></h4>
                <h3>
                  <span class="label label-success pull-right">{{marker.scores.total}}</span>
                  <button type="button" class="btn primary-color" ng-click="updateRoute('/homes')">View Homes</button>
                </h3>
            </div>
          </window>
        </marker> 
      </google-map>
    </div>
    <div class="col-lg-4 right-panel" cg-busy="scorePromise">
      <div class="row marker-result" ng-repeat="marker in map.markers">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object school-image" src="http://images.prd.mris.com/image/V2/1/Yu59d899Ocpyr_RnF0-8qNJX1oYibjwp9TiLy-bZvU9vRJ2iC1zSQgFwW-fTCs6tVkKrj99s7FFm5Ygwl88xIA.jpg">
          </a>
          <div class="media-body">
            <h4 class="media-heading truncate lead"><a ng-href="/school/{{marker.school.id}}" title="{{marker.school.name}}">{{marker.school.name}}</a></h4>
            <h3>
              <span class="label label-success pull-right">{{marker.scores.total}}</span>
              <button type="button" class="btn primary-color" ng-click="updateRoute('/homes')">View Homes</button>
            </h3>
          </div>
        </div>
        <!-- <div class="col-lg-12">
          <a class="lead" ng-href="/school/{{marker.school.id}}">{{marker.school.name}}</a>
          <h3><span class="label label-success">{{marker.scores.total}}</span></h3>
          <button type="button" class="btn primary-color" ng-click="updateRoute('/homes')">View Homes</button>
        </div> -->
      </div>
    </div>
  </div>
</div>

<!-- <footer class="footer">
  <div class="">
      <p><a href="https://twitter.com/chrisl1200">@chrisl1200</a></p>
  </div>
</footer> -->
