<section class="generalContact" cg-busy="emailPromise">
  <form name="contactForm" novalidate>
    <div class="form-group" ng-class="contactForm.name.$invalid && (contactForm.$submitted || contactForm.name.$touched) ? 'has-error':''">
        <label class="control-label" ng-show="contactForm.name.$invalid && (contactForm.$submitted || contactForm.name.$touched)">Enter Name</label>
      <input type="text" class="form-control input-sm" name="name" ng-model="email.name" placeholder="Your Name" required />
    </div>
    <div class="form-group inline" ng-class="contactForm.phone.$invalid && (contactForm.$submitted || contactForm.phone.$touched) ? 'has-error':''">
        <label class="control-label" ng-show="contactForm.phone.$invalid && (contactForm.$submitted || contactForm.phone.$touched)">Invalid Phone Number</label>
        <input type="phone" class="form-control input-sm" name="phone" ng-model="email.phone" placeholder="Your Number" required />
    </div>
    <div class="form-group inline" ng-class="contactForm.emailAddress.$invalid && (contactForm.$submitted || contactForm.emailAddress.$touched) ? 'has-error':''">
        <label class="control-label" ng-show="contactForm.emailAddress.$invalid && (contactForm.$submitted || contactForm.emailAddress.$touched)">Invalid Email</label>
        <input type="email" class="form-control input-sm" name="emailAddress" ng-model="email.from" placeholder="Your Email" required />
    </div>
    <div class="form-group" ng-class="contactForm.body.$invalid && (contactForm.$submitted || contactForm.body.$touched) ? 'has-error':''">
        <label class="control-label" ng-show="contactForm.body.$invalid && (contactForm.$submitted || contactForm.body.$touched)">Enter Message</label>
      <textarea class="form-control input-sm" id="messageInput" name="body" ng-model="email.body" placeholder="Enter Message" required></textarea>
    </div>
    <button class='btn btn-default' ng-click="submit()">Submit</button>
    <div class="alert alert-success fade-animate" ng-show="emailSuccess" role="alert">Request sent!</div>
    <div class="alert alert-danger fade-animate" ng-show="emailFail" role="alert">Request failed</div>
  </form>
</section>