/**************************************************/
/****** Splash/Home Page Styles *******************/
/**************************************************/
.home{
  width: 100%;
  height: 100%;

  h1 {
    color: white;
    text-align: center;
  }

  .splashGraphic {
    background: url('/assets/images/Splash-Page-Graphic.png');
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 186px;
  }

  &.container-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }

  &.splash-bkgd-graphic{
    background: url('/assets/images/splash-bkgd-graphic.png');
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: 100%;
  }

  .overlay{
    background-color: rgba(100, 100, 100, .4);
  }

  .search-bar{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    width: 85%
  }

  .search-button{
    vertical-align: top;
  }

}