/**************************************************/
/****** Splash/Home Page Styles *******************/
/**************************************************/
/* line 4, home.scss */
.home {
  width: 100%;
  height: 100%;
}
/* line 8, home.scss */
.home h1 {
  color: white;
  text-align: center;
}
/* line 13, home.scss */
.home.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}
/* line 20, home.scss */
.home.splash-bkgd-graphic {
  background: url("/assets/images/splash-bkgd-graphic.png");
  background-position: 50% 50%;
  background-size: 100%;
}
/* line 26, home.scss */
.home .overlay {
  background-color: rgba(100, 100, 100, 0.4);
}
