#privacy-policy {
  padding: 10px;
  margin-bottom: 100px;
  font-size: 1.5em;
  font-weight: 100;

  .dark-well{
    background-color: #ddd;
  }
  .well { padding-top: 0; background-color: white; &.dark-well{
    background-color: #ddd;
  }}
}